<%#= p sprintf("# Here is app/views/microposts/_microposts.html.erb\n") %>
<ul class="media-list">
	<% microposts.each do |micropost| %>
		<li class="media">
			<div class="media-left">
				<img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
			</div>
			<div class="media-body">
				<div>
					<%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
				</div>
				<div>
					<p><%= micropost.content %></p>
					<p><%#= micropost %></p>
				</div>
				<div>
					<p><%#= p sprintf("current_user = %s\n", current_user) %></p>
					<%#= debug current_user.id %>
					<p><%#= p sprintf("micropost.user = %s\n", micropost.user) %></p>
					<%#= debug micropost.user_id %>
					<% if current_user == micropost.user %>
						<%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
					<% end %>
					<%= render 'favorites/fav_post_button', micropost: micropost, user: @user %>
				</div>
			</div>
		</li>
	<% end %>
	<%= paginate microposts %>
</ul>
